:root {
    /* colors */
    --clr-blue: #1992D4;
    --clr-border: #F0B429;
    --clr-gray: #E2E8F0;

    /* fonts */
    --ff-main: 'Roboto', sans-serif;

    /* font weight */
    --fw-regular: 400;
    --fw-light: 300;

    /* widths */
    --w-dash-icon: 3.5rem;
    --w-sidebar-icon: 1.6rem;
    --w-card-icon: 1.3rem;
    --w-search-bar: 1rem;
    --w-avatar-small: 3.8rem;
    --w-avatar-large: calc(var(--w-avatar-small) + 1.5rem);
}

/* reset styles */
ul {
    list-style: none;
}

body,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    border: none;
}

/* page styling starts here */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-3 {
    grid-column: 1 / 2;
}
.project-4 {
    grid-column: 2 / 3;
}
.news {
    grid-column: 3;
    grid-row: 1 / 3;
}

/* .trending {
    grid-column: 3;
    grid-row: 3 / 5;
} */

.card img.icon,
.user-info img.icon {
    width: var(--w-card-icon);
}

.sidebar .title img.icon {
    width: var(--w-dash-icon);
}

.sidebar li > img.icon {
    width: var(--w-sidebar-icon);
}

.search-bar img.icon {
    width: var(--w-search-bar);
}

.user-info img.avatar {
    width: var(--w-avatar-small);
}
.hello-msg img.avatar {
    width: var(--w-avatar-large);
}